[submodule "lunus/cuda/cub"]
	path = lunus/cuda/cub
	url = https://github.com/NVIDIA/cub.git
[submodule "kokkos-kernels"]
	path = lunus/kokkos/kokkos-kernels
	url = https://github.com/kokkos/kokkos-kernels.git
[submodule "lunus-data"]
	path = lunus-data
	url = https://github.com/lanl/lunus-data
